# Pair Programming Limpieza I

In [28]:
import pandas as pd
import numpy as np

In [29]:
pd.options.display.max_columns = None

In [30]:
df = pd.read_csv("datos/6.pandas_nuevascolumnas.csv", index_col=0)
df.head(2)

,case_number,year,type,country,area,location,activity,name,age,time,species_,href,injury,date,mes,fatal,sexo
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun,n,F
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,FATAL,03-Jun-2018,Jun,y,M

In [31]:
df["country"].unique()

array(['USA', 'BRAZIL', 'AUSTRALIA', 'ENGLAND', 'COSTA RICA', 'MALDIVES',
       'SOUTH AFRICA', 'CUBA', 'SPAIN', 'BAHAMAS', 'INDONESIA', 'EGYPT',
       'NEW ZEALAND', 'FRENCH POLYNESIA', 'NEW CALEDONIA', 'ECUADOR',
       'THAILAND', 'REUNION', 'MEXICO', 'JAMAICA', 'ITALY',
       'PAPUA NEW GUINEA', 'RUSSIA', 'SEYCHELLES', 'VIETNAM', 'GUAM',
       'MOZAMBIQUE', 'SCOTLAND', 'UNITED KINGDOM', 'TAIWAN', 'CROATIA',
       'FIJI', 'TONGA', 'ST. MAARTIN', 'GRAND CAYMAN', 'VANUATU',
       'VENEZUELA', 'TURKS & CAICOS', 'OKINAWA', 'MARSHALL ISLANDS',
       'MAURITIUS', 'HONG KONG', 'JAPAN', 'SOUTH KOREA', 'ISRAEL',
       'MICRONESIA', 'COLUMBIA', 'NEW BRITAIN', 'PALAU',
       'SOLOMON ISLANDS', 'FEDERATED STATES OF MICRONESIA', 'GREECE',
       'BRITISH WEST INDIES', 'NORTH PACIFIC OCEAN', 'BERMUDA',
       'PHILIPPINES', 'AMERICAN SAMOA', 'PACIFIC OCEAN', 'SENEGAL',
       'ARGENTINA', 'EL SALVADOR', 'IRAQ', 'PANAMA', 'INDIA', nan,
       'BARBADOS', 'MARTINIQUE', 'GUINEA', 'GREENLAND', 'FRANCE',
       'MEDITERRANEAN SEA', 'SWEDEN', 'ICELAND', 'ROATAN',
       'Between PORTUGAL & INDIA', 'CANADA', 'KENYA', 'URUGUAY',
       'LEBANON', 'SUDAN', 'DJIBOUTI', 'LIBYA', 'SRI LANKA', 'BAHREIN',
       'KOREA', 'IRAN', 'RED SEA?', 'SINGAPORE', 'MADAGASCAR',
       'NICARAGUA', 'KIRIBATI', 'SAUDI ARABIA', 'BURMA', 'BELIZE',
       'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

### 1. Al empezar a trabajar con este dataframe ya eliminamos algunas columnas que a priori no nos interesaban. Ahora llega el momento de eliminar alguna columna m√°s. 

En este caso tendr√©is que eliminar las columnas que no nos sean √∫tiles para contestar a nuestras preguntas. 

Pero ojo ‚ö†Ô∏è, haced una copia del dataframe para no "cargarnos" el dataframe original y perder la info.

In [32]:
df_limpio = df.copy()

In [33]:
df_limpio.head(2)

,case_number,year,type,country,area,location,activity,name,age,time,species_,href,injury,date,mes,fatal,sexo
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun,n,F
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,FATAL,03-Jun-2018,Jun,y,M

Preguntas no hacen menci√≥n a:
- type
- area
- location
- activity
- name
- time
- href
- injury
- date

In [34]:
df_limpio.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'age', 'time', 'species_', 'href', 'injury', 'date',
       'mes', 'fatal', 'sexo'],
      dtype='object')

In [35]:
lista_eliminar = ['area', 'location', 'activity', 'name', 'time', 'href', 'injury']

In [36]:
df_limpio.drop(lista_eliminar, axis=1, inplace=True)

In [37]:
df_limpio.shape

(1672, 10)

In [38]:
df_limpio.head(2)

,case_number,year,type,country,age,species_,date,mes,fatal,sexo
0,2018.06.25,2018.0,Boating,USA,57,White shark,25-Jun-2018,Jun,n,F
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,18,Tiger shark,03-Jun-2018,Jun,y,M

In [39]:
df_limpio.to_csv("datos/1.ataques_limpio.csv")

In [40]:
df2 = pd.read_csv("datos/1.ataques_limpio.csv", index_col=0)
df2.head(2)

,case_number,year,type,country,age,species_,date,mes,fatal,sexo
0,2018.06.25,2018.0,Boating,USA,57,White shark,25-Jun-2018,Jun,n,F
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,18,Tiger shark,03-Jun-2018,Jun,y,M

### 2. ¬øHay valores duplicados en nuestro dataframe? En caso de que los haya, elimin√°ndlos.

In [41]:
df2.duplicated().sum()

0

### 3. Como hemos visto, algunas columnas no tienen el tipo de datos que deber√≠an. Cambiad el tipo de dato para la columna de year.

In [42]:
df2.dtypes

case_number     object
year           float64
type            object
country         object
age             object
species_        object
date            object
mes             object
fatal           object
sexo            object
dtype: object

In [43]:
#age
# df["age"].unique()

In [44]:
# for i in df["age"]:
    #try:
        #df2["age"] = df2["age"].astype("Int64",errors= "raise")
    
    #except:
        #pass

In [45]:
# df2.dtypes

In [46]:
# species
# df2["species_"].value_counts()[0:20]

In [47]:
# year
df2["year"] = df2["year"].astype("Int64",errors= "raise")

In [48]:
df2.dtypes

case_number    object
year            Int64
type           object
country        object
age            object
species_       object
date           object
mes            object
fatal          object
sexo           object
dtype: object

### 4. En la columna de country poner todos los valores en min√∫sculas.
üí° Pista Tendr√©is que usar una funci√≥n o una lambda üí°

In [49]:
def minuscula (string):
    x= str(string)
    return x.lower()

In [50]:
df2["country"] = df2["country"].apply(minuscula)

In [51]:
df2["country"].unique()

array(['usa', 'brazil', 'australia', 'england', 'costa rica', 'maldives',
       'south africa', 'cuba', 'spain', 'bahamas', 'indonesia', 'egypt',
       'new zealand', 'french polynesia', 'new caledonia', 'ecuador',
       'thailand', 'reunion', 'mexico', 'jamaica', 'italy',
       'papua new guinea', 'russia', 'seychelles', 'vietnam', 'guam',
       'mozambique', 'scotland', 'united kingdom', 'taiwan', 'croatia',
       'fiji', 'tonga', 'st. maartin', 'grand cayman', 'vanuatu',
       'venezuela', 'turks & caicos', 'okinawa', 'marshall islands',
       'mauritius', 'hong kong', 'japan', 'south korea', 'israel',
       'micronesia', 'columbia', 'new britain', 'palau',
       'solomon islands', 'federated states of micronesia', 'greece',
       'british west indies', 'north pacific ocean', 'bermuda',
       'philippines', 'american samoa', 'pacific ocean', 'senegal',
       'argentina', 'el salvador', 'iraq', 'panama', 'india', 'nan',
       'barbados', 'martinique', 'guinea', 'greenland', 'france',
       'mediterranean sea', 'sweden', 'iceland', 'roatan',
       'between portugal & india', 'canada', 'kenya', 'uruguay',
       'lebanon', 'sudan', 'djibouti', 'libya', 'sri lanka', 'bahrein',
       'korea', 'iran', 'red sea?', 'singapore', 'madagascar',
       'nicaragua', 'kiribati', 'saudi arabia', 'burma', 'belize',
       'asia?', 'ceylon (sri lanka)'], dtype=object)

### 5. Guardamos el csv para seguir trabajando en el siguiente ejercicio de pair de limpieza.

In [52]:
df2.to_csv("datos/1.ataques_limpio.csv")