# Pair Programming Limpieza I

In [59]:
import pandas as pd
import numpy as np

In [32]:
pd.options.display.max_columns = None

In [5]:
df = pd.read_csv("datos/6.pandas_nuevascolumnas.csv", index_col=0)
df.head(2)

,case_number,year,type,country,area,location,activity,name,age,time,species_,href,injury,date,mes,fatal,sexo
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun,n,F
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,FATAL,03-Jun-2018,Jun,y,M

### 1. Al empezar a trabajar con este dataframe ya eliminamos algunas columnas que a priori no nos interesaban. Ahora llega el momento de eliminar alguna columna m√°s. 

En este caso tendr√©is que eliminar las columnas que no nos sean √∫tiles para contestar a nuestras preguntas. 

Pero ojo ‚ö†Ô∏è, haced una copia del dataframe para no "cargarnos" el dataframe original y perder la info.

In [6]:
df_limpio = df.copy()

In [8]:
df_limpio.head(2)

,case_number,year,type,country,area,location,activity,name,age,time,species_,href,injury,date,mes,fatal,sexo
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun,n,F
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,FATAL,03-Jun-2018,Jun,y,M

Preguntas no hacen menci√≥n a:
- type
- area
- location
- activity
- name
- time
- href
- injury
- date

In [9]:
df_limpio.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'age', 'time', 'species_', 'href', 'injury', 'date',
       'mes', 'fatal', 'sexo'],
      dtype='object')

In [10]:
lista_eliminar = ['type','area', 'location', 'activity', 'name', 'time', 'href', 'injury', 'date']

In [12]:
df_limpio.drop(lista_eliminar, axis=1, inplace=True)

In [13]:
df_limpio.shape

(1672, 8)

In [14]:
df_limpio.head(2)

    case_number    year country age     species_  mes fatal sexo
0    2018.06.25  2018.0     USA  57  White shark  Jun     n    F
1  2018.06.03.a  2018.0  BRAZIL  18  Tiger shark  Jun     y    M

In [15]:
df_limpio.to_csv("datos/1.ataques_limpio.csv")

In [24]:
df2 = pd.read_csv("datos/1.ataques_limpio.csv", index_col=0)
df2.head(2)

    case_number    year country age     species_  mes fatal sexo
0    2018.06.25  2018.0     USA  57  White shark  Jun     n    F
1  2018.06.03.a  2018.0  BRAZIL  18  Tiger shark  Jun     y    M

### 2. ¬øHay valores duplicados en nuestro dataframe? En caso de que los haya, elimin√°ndlos.

In [25]:
df2.duplicated().sum()

0

### 3. Como hemos visto, algunas columnas no tienen el tipo de datos que deber√≠an. Cambiad el tipo de dato para la columna de year.

In [26]:
df2.dtypes

case_number     object
year           float64
country         object
age             object
species_        object
mes             object
fatal           object
sexo            object
dtype: object

In [37]:
#age
# df["age"].unique()

array(['57', '18', '15', '32', '21', '30', '60', '33', '19', '25', '10',
       '69', '55', '35', '20', '54', '22', '31', '40', '37', '11', '13',
       '34', '50', '46', '48', '17', '28', '65', '73', '58', '36', '60s',
       '51', '61', '59', '42', '6', '27', '23', '29', '39', '24', '12',
       '26', '71', '43', '9', '44', '14', '62', '52', '38', '68', '16',
       '47', '63', '70', '41', '40s', '53', '20s', '7', '66', '45', '74',
       '64', '8', '56', '49', '18 or 20', 'Teen', '30s', '77', '8 or 10',
       '84', '\xa0 ', ' ', '30 or 36', '6¬Ω', '5', ' 30', ' 28', "60's",
       '67', '>50', '? & 19', '21, 34,24 & 35', '30 & 32', '13 or 18',
       '7 or 8', '9 or 10', nan, 'young', '13 or 14'], dtype=object)

In [36]:
# for i in df["age"]:
    #try:
        #df2["age"] = df2["age"].astype("Int64",errors= "raise")
    
    #except:
        #pass

In [61]:
# df2.dtypes

case_number    object
year            Int64
country        object
age            object
species_       object
mes            object
fatal          object
sexo           object
dtype: object

In [60]:
# species
# df2["species_"].value_counts()[0:20]

White shark                                           76
Tiger shark                                           37
4' shark                                              34
Bull shark                                            32
Shark involvement not confirmed                       26
1.8 m [6'] shark                                      21
4' to 5' shark                                        19
Invalid                                               18
6' shark                                              17
1.2 m [4'] shark                                      15
3' to 4' shark                                        15
3' shark                                              15
1.5 m [5'] shark                                      13
5' shark                                              13
1.2 m to 1.5 m [4' to 5'] shark                       12
Shark involvement prior to death was not confirmed    11
6 m [20'] white shark                                 10
5 m [16.5'] white shark                                9
3 m [10'] shark                                        9
1.5 m shark                                            8
Name: species_, dtype: int64

In [27]:
# year
df2["year"] = df2["year"].astype("Int64",errors= "raise")

In [28]:
df2.dtypes

case_number    object
year            Int64
country        object
age            object
species_       object
mes            object
fatal          object
sexo           object
dtype: object

### 4. En la columna de country poner todos los valores en min√∫sculas.
üí° Pista Tendr√©is que usar una funci√≥n o una lambda üí°

In [64]:
def minuscula (string):
    x= str(string)
    return x.lower()

In [65]:
df2["country"] = df2["country"].apply(minuscula)

In [66]:
df2["country"].unique()

array(['usa', 'brazil', 'australia', 'england', 'costa rica', 'maldives',
       'south africa', 'cuba', 'spain', 'bahamas', 'indonesia', 'egypt',
       'new zealand', 'french polynesia', 'new caledonia', 'ecuador',
       'thailand', 'reunion', 'mexico', 'jamaica', 'italy',
       'papua new guinea', 'russia', 'seychelles', 'vietnam', 'guam',
       'mozambique', 'scotland', 'united kingdom', 'taiwan', 'croatia',
       'fiji', 'tonga', 'st. maartin', 'grand cayman', 'vanuatu',
       'venezuela', 'turks & caicos', 'okinawa', 'marshall islands',
       'mauritius', 'hong kong', 'japan', 'south korea', 'israel',
       'micronesia', 'columbia', 'new britain', 'palau',
       'solomon islands', 'federated states of micronesia', 'greece',
       'british west indies', 'north pacific ocean', 'bermuda',
       'philippines', 'american samoa', 'pacific ocean', 'senegal',
       'argentina', 'el salvador', 'iraq', 'panama', 'india', 'nan',
       'barbados', 'martinique', 'guinea', 'greenland', 'france',
       'mediterranean sea', 'sweden', 'iceland', 'roatan',
       'between portugal & india', 'canada', 'kenya', 'uruguay',
       'lebanon', 'sudan', 'djibouti', 'libya', 'sri lanka', 'bahrein',
       'korea', 'iran', 'red sea?', 'singapore', 'madagascar',
       'nicaragua', 'kiribati', 'saudi arabia', 'burma', 'belize',
       'asia?', 'ceylon (sri lanka)'], dtype=object)

### 5. Guardamos el csv para seguir trabajando en el siguiente ejercicio de pair de limpieza.

In [68]:
df2.to_csv("datos/1.ataques_limpio.csv")